#img_user {
  height: 200px;
  width: 15%;
  display: block;
  margin-left: 42.5%;
  margin-right: 42.5%;
  margin-top: 30px;
}
#edt_Dictionary {
  width: 25%;
  height: 150px;
  display: block;
  margin-left: 37.5%;
  margin-right: 37.5%;
  margin-top: 30px;
  font-size: 30;
}
header {
  margin-left: 45%;
  margin-right: 45%;
  font-family: Arial, Helvetica, sans-serif;
}
#btn_translate {
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 20px;
  height: 50px;
  width: 10%;
}
#txt_translate {
  font-family: "Times New Roman", Times, serif;
  font-size: 22;
  margin-top: 20px;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  background-color: darkgrey;
}
#txt_from {
  display: inline;
}
#txt_to {
  display: inline;
  margin-left: 40px
}
#select_to {
  display: inline;
}
#select_from {
  display: inline;
}
#sub_body {
  /* margin-left: 40%;
    margin-right: 40%;
    width: 15%; */
    text-align: center;
  margin-top: 20px;
}
